# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/communication/.vs/communication/FileContentIndex/192db3d7-6dd1-4a91-8612-6337518c90ef.vsidx
/communication/.vs/communication/FileContentIndex/32cb975d-00e1-4c1b-87ca-20f10890f796.vsidx
/communication/.vs/communication/FileContentIndex/66b61f85-05ab-49b8-8ab0-bef8cf487778.vsidx
/communication/.vs/communication/FileContentIndex/87fe91f2-46eb-48e5-9104-d25fa252e5e1.vsidx
/communication/.vs/communication/FileContentIndex/f35ecc6b-de8d-4480-aadf-e78dccff7328.vsidx
/communication/.vs/communication/v17/.suo
/communication/.vs/communication/v17/Browse.VC.db
/communication/.vs/communication/v17/Browse.VC.db-shm
/communication/.vs/communication/v17/Browse.VC.db-wal
/communication/.vs/communication/v17/DocumentLayout.json
/communication/.vs/communication/v17/ipch/AutoPCH/149f26e838e51a62/CRCALGORITM_TEST.ipch
/communication/.vs/communication/v17/ipch/AutoPCH/2f2638410670b429/VALIDATION.ipch
/communication/.vs/communication/v17/ipch/AutoPCH/359755c9cffb3d26/VECMESSAGE.ipch
/communication/.vs/communication/v17/ipch/AutoPCH/35a728e92e7da92/CONVERT_TEST.ipch
/communication/.vs/communication/v17/ipch/AutoPCH/6a477712a6e45586/D3MESSAGE_TEST.ipch
/communication/.vs/communication/v17/ipch/AutoPCH/7fb48be4e40d2e36/MATMESSAGE.ipch
/communication/.vs/communication/v17/ipch/AutoPCH/81aae37ac0ef457d/META_DATA.ipch
/communication/.vs/communication/v17/ipch/AutoPCH/83d22c55f814a319/VECMESSAGE_TEST.ipch
/communication/.vs/communication/v17/ipch/AutoPCH/934d82dd6695702f/CRCALGORITM.ipch
/communication/.vs/communication/v17/ipch/AutoPCH/9c1c037f5c69d743/COMMUNICATION.ipch
/communication/.vs/communication/v17/ipch/AutoPCH/acfb2f8fe653ee59/MATVALIDATION.ipch
/communication/.vs/communication/v17/ipch/AutoPCH/b1a18b707801c1bf/DATA.ipch
/communication/.vs/communication/v17/ipch/AutoPCH/b5fdadd4166c2224/MESSAGE.ipch
/communication/.vs/communication/v17/ipch/AutoPCH/c728ffc69abd5392/DATA_TEST.ipch
/communication/.vs/communication/v17/ipch/AutoPCH/d66494e6295bed89/MATMESSAGE_TEST.ipch
/communication/.vs/communication/v17/ipch/AutoPCH/e2c9b5262b453bcb/D3MESSAGE.ipch
/communication/.vs/communication/v17/ipch/AutoPCH/e58846a2aab89e28/D3VALIDATION.ipch
/communication/.vs/communication/v17/ipch/AutoPCH/ed2a9896e709ac50/VALIDATION_TEST.ipch
/communication/.vs/communication/v17/ipch/AutoPCH/f8a7d4475ec84ebf/CONVERT.ipch
/communication/.vs/communication/v17/ipch/AutoPCH/fb17e6bfee534dd1/VECVALIDATION.ipch
/communication/.vs/communication/v17/Solution.VC.db
/communication/communication/communication.vcxproj
