# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/communication/.vs/communication/FileContentIndex/192db3d7-6dd1-4a91-8612-6337518c90ef.vsidx
/communication/.vs/communication/FileContentIndex/32cb975d-00e1-4c1b-87ca-20f10890f796.vsidx
/communication/.vs/communication/FileContentIndex/66b61f85-05ab-49b8-8ab0-bef8cf487778.vsidx
/communication/.vs/communication/FileContentIndex/87fe91f2-46eb-48e5-9104-d25fa252e5e1.vsidx
/communication/.vs/communication/FileContentIndex/f35ecc6b-de8d-4480-aadf-e78dccff7328.vsidx
/communication/.vs/communication/v17/.suo
/communication/.vs/communication/v17/Browse.VC.db
/communication/.vs/communication/v17/Browse.VC.db-shm
/communication/.vs/communication/v17/Browse.VC.db-wal
/communication/.vs/communication/v17/DocumentLayout.json
/communication/.vs/communication/v17/ipch/AutoPCH/149f26e838e51a62/CRCALGORITM_TEST.ipch
/communication/.vs/communication/v17/ipch/AutoPCH/2f2638410670b429/VALIDATION.ipch
/communication/.vs/communication/v17/ipch/AutoPCH/359755c9cffb3d26/VECMESSAGE.ipch
/communication/.vs/communication/v17/ipch/AutoPCH/35a728e92e7da92/CONVERT_TEST.ipch
/communication/.vs/communication/v17/ipch/AutoPCH/6a477712a6e45586/D3MESSAGE_TEST.ipch
/communication/.vs/communication/v17/ipch/AutoPCH/7fb48be4e40d2e36/MATMESSAGE.ipch
/communication/.vs/communication/v17/ipch/AutoPCH/81aae37ac0ef457d/META_DATA.ipch
/communication/.vs/communication/v17/ipch/AutoPCH/83d22c55f814a319/VECMESSAGE_TEST.ipch
/communication/.vs/communication/v17/ipch/AutoPCH/934d82dd6695702f/CRCALGORITM.ipch
/communication/.vs/communication/v17/ipch/AutoPCH/9c1c037f5c69d743/COMMUNICATION.ipch
/communication/.vs/communication/v17/ipch/AutoPCH/acfb2f8fe653ee59/MATVALIDATION.ipch
/communication/.vs/communication/v17/ipch/AutoPCH/b1a18b707801c1bf/DATA.ipch
/communication/.vs/communication/v17/ipch/AutoPCH/b5fdadd4166c2224/MESSAGE.ipch
/communication/.vs/communication/v17/ipch/AutoPCH/c728ffc69abd5392/DATA_TEST.ipch
/communication/.vs/communication/v17/ipch/AutoPCH/d66494e6295bed89/MATMESSAGE_TEST.ipch
/communication/.vs/communication/v17/ipch/AutoPCH/e2c9b5262b453bcb/D3MESSAGE.ipch
/communication/.vs/communication/v17/ipch/AutoPCH/e58846a2aab89e28/D3VALIDATION.ipch
/communication/.vs/communication/v17/ipch/AutoPCH/ed2a9896e709ac50/VALIDATION_TEST.ipch
/communication/.vs/communication/v17/ipch/AutoPCH/f8a7d4475ec84ebf/CONVERT.ipch
/communication/.vs/communication/v17/ipch/AutoPCH/fb17e6bfee534dd1/VECVALIDATION.ipch
/communication/.vs/communication/v17/Solution.VC.db
/communication/communication/communication.vcxproj
/Communication/.vs/communication/FileContentIndex/788298d5-ccce-427f-b2ef-b3970c49a4cf.vsidx
/Communication/.vs/communication/FileContentIndex/7ec241f2-e5da-43c7-a92d-796b6be416ee.vsidx
/Communication/.vs/communication/FileContentIndex/read.lock
/communication/.vs/communication/v17/.suo
/communication/.vs/communication/v17/.suo
/communication/.vs/communication/v17/.suo
/communication/.vs/communication/v17/.suo
/communication/.vs/communication/v17/Browse.VC.db
/communication/communication/communication.vcxproj.filters
/communication/.vs/communication/v17/.suo
/Communication/.vs/communication/FileContentIndex/22ee0759-5d51-4c4d-847a-7dd63b1e3007.vsidx
/Communication/.vs/communication/FileContentIndex/55ca1ee5-fcfb-4164-b762-c059ec6ec631.vsidx
/Communication/.vs/communication/FileContentIndex/999b10b8-2623-4aaf-9c00-e341f26fb4ed.vsidx
/communication/.vs/communication/v17/.suo
/communication/.vs/communication/v17/Browse.VC.db
/communication/.vs/communication/v17/Browse.VC.db-shm
/communication/.vs/communication/v17/Browse.VC.db-wal
/Communication/.vs/communication/FileContentIndex/15ff885e-cd5e-4e2a-a9c3-1b53f0144fc8.vsidx
/Communication/.vs/communication/FileContentIndex/444f3f78-5ff0-4002-ab45-54072b33c734.vsidx
/Communication/.vs/communication/FileContentIndex/695ac037-a884-473a-b569-3f94ed8e84be.vsidx
/Communication/.vs/communication/FileContentIndex/cd28f089-ea1c-4e8d-a678-c779b95a746d.vsidx
/Communication/.vs/communication/v17/Browse.VC.opendb
/Communication/.vs/communication/v17/ipch/AutoPCH/6b45fdde99f32228/COLORIMAGEHANDLER.ipch
/Communication/.vs/communication/v17/ipch/AutoPCH/71188572a51827/D3MESSAGE.ipch
/Communication/.vs/communication/v17/ipch/AutoPCH/8d543658e9ea63d2/MATMESSAGE.ipch
/Communication/.vs/communication/v17/ipch/AutoPCH/d0f0f9b71adcbc29/COLORIMAGEHANDLER.ipch
/Communication/.vs/communication/v17/ipch/AutoPCH/e882fbc447b829e2/VECMESSAGE.ipch
/Communication/.vs/communication/v17/ipch/AutoPCH/f7b5dd2a58a52690/POLYNOM.ipch
/communication/communication/communication.vcxproj
/communication/communication/communication.vcxproj
/Communication/.vs/communication/FileContentIndex/643a493d-0ae8-47a8-8ca3-6e9a100f3913.vsidx
/Communication/.vs/communication/FileContentIndex/1afab0c4-7d88-4bf8-9c11-5346e670b2b3.vsidx
/Communication/.vs/communication/FileContentIndex/557701dc-72d6-4ac3-9840-e2cb1ca502d8.vsidx
/Communication/.vs/communication/FileContentIndex/6b834aa0-f407-4908-aecd-37984ac50f0d.vsidx
/Communication/.vs/communication/FileContentIndex/93716445-66a8-43c8-aedd-a6ec21b0abdf.vsidx
/Communication/.vs/communication/v17/ipch/AutoPCH/69b4c45c5bedee21/POLYNOM.ipch
/Communication/.vs/communication/v17/ipch/AutoPCH/f6e80e2db965c0c8/DATAHANDLER.ipch
